html, body{
    margin: 0;
    padding: 0;
    height: 100%;
}
body{
    display: grid;
    grid-template-rows: 120px 1fr auto;
    min-height: 100%;
    background-color: ivory;
}

.container{
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
}

header{
    position: fixed;
    width: 100%;
    z-index: 10;
    background-color: rgb(61, 61, 61);
}
header .container{
    color: ivory;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
}
header h1 {
    font-size: 30;
}
header a {
    text-decoration: none;
    font-size: 25px;
    margin-left: 10px;
    color: ivory;
}
header a:hover {
    color: #ffffbe;
}

main{
    grid-row: 2;
}
main .container{
    display: flex;
    min-height: 100%;
    background-color: ivory;
}

footer{
    grid-row: 3;
    background-color: rgb(61, 61, 61);
}
footer .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer p{
  color: ivory;
  font-size: 20px;
}
footer ul{
  display: flex;
  flex-direction: column;
}
footer a{
  text-decoration: none;
  color: ivory;
}
footer a:hover{
  text-decoration: underline;
}