{% extends 'main/base.html' %}
{% load thumbnail %}

{% block title %} {{ product.title }} {% endblock %}

{% block header %}
    {% include 'main/header.html' %}
{% endblock %}

{% block content %}
<div>
    <h1>{{ product.title }}</h1>
    {% thumbnail product.image "200x200" as im %}
        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
    {% endthumbnail %}
    <p><b>Цена: </b>{{ product.price }}</p>
    <p><b>Описание: </b>{{ product.description }}</p>
    <p><b>Категория: </b>{{ product.category }}</p>
    <p><b>Наличие: </b>{{ product.in_stock }}</p>
</div>
{% endblock %}